%h1 Functionality coming soon. Stay tuned!

%p#notice= notice 

%p
	= @invitations = current_user.sent_invitations.collect(&:recipient_email)

-# %table
-#  %tr
-#    %th
-#    %th
-#    %th

-#  - @users.each do |user|
-#    %tr
-#      %td= link_to 'Show', user
-#      %td= link_to 'Edit', edit_user_path(user)
-#      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

-# %br

-# = link_to 'New User', new_user_path
