-content_for :style_overrides do
  \#header-links {display: none}
  \#header-login {display: none}
  \#tabs {display: none}

  \#landing-page {margin: 15px;}
  \#youtube-video {float: right; margin: 15px; margin-right: 0;}
  \.block {margin-top: 20px; margin-bottom: 20px;}
  \.highlight {font-style: italic; font-weight: bold;}

-content_for :youtube_video do
  \<iframe width="420" height="345" src="http://www.youtube.com/embed/n53c9ZZyTkw" frameborder="0" allowfullscreen></iframe>

-content_for :landing_pitch do
  %h1 Welcome to iCoddle.com
  .block
    %p 
      %span.highlight Take charge of your pet care
    %ul
      %li
        %p 
          %span.highlight Discover 
          pet owners in your neighborhood
      %li
        %p
          Bring 
          %span.highlight together
          friends and family
      %li
        %p
          %span.highlight Create
          your own, online, 
          %span.highlight secure
          pet care network
      %li
        %p
          %span.highlight Share
          and exchange your pet care needs

    %p
      %span.highlight www.iCoddle.com

#landing-page
  #landing-pitch
    #youtube-video
      =yield :youtube_video
    =yield :landing_pitch
  #landing-form
    =yield :landing_form
