-content_for :style_overrides do
  \#header-links {display: none}
  \#header-login {display: none}
  \#tabs {display: none}

  \#landing-page {margin: 15px;}
  \#youtube-video {float: right; margin: 15px; margin-right: 0;}
  \.block {margin-top: 20px; margin-bottom: 20px;}
  \.highlight {font-style: italic; font-weight: bold;}

-content_for :youtube_video do
  \<iframe width="420" height="345" src="http://www.youtube.com/embed/n53c9ZZyTkw" frameborder="0" allowfullscreen></iframe>

-content_for :landing_pitch do
  %h1 Welcome to iCoddle.com ...
  .block
    %p We love our furry friends, and we all worry about how to care for them when we have to go out of town for a few days.
    %p We can take our pets to a kennel&mdash;traumatic for them and expensive for us.
    %p Or, we can leave our pets in the care or friends or family or professional pet sitters.
    %p The former can be difficult to coordinate. The later is also expensive.
  .block
    %p What if there was a way to:
    %ul
      %li Arrange care for our pets in the familiar comfort of their home.
      %li
        Automate feeding of our pets
        %span.highlight even if their diets require canned food.
      %li Define other needed care as a schedule of required tasks.
      %li Build and manage a network of trusted friends to perform these tasks.
      %li Spread these care tasks across multiple people to better fit their schedules.
      %li Track the completion of each care task.
      %li Monitor the consumption of food by your pet (by weight) to ensure that your friend is eating properly.
  .block
    %p
      %span.highlight
        Enter iCoddle ...
    .block
      %p The iCoddle product offering includes ...
      %ol
        %li Hardware: an automated pet feeder that dispenses food on a schedule set by you. It is web enabled and can send updates as to how much of the dispensed food was consumed by your pet. You can view these updates through your account on our website.
        %li Software: an online pet care network. In addition to viewing the updates from the feeder, you can also create a private online network of close family and friends to manage and coordinate the care of your pet. You can can create a schedule of tasks and share them with your network. Friends and family members can sign up for these tasks. As these tasks are completed, they can update the status of each task. You can monitor the feeder updates and task updates and know that your furry friend is doing well while you are traveling.

#landing-page
  #landing-pitch
    #youtube-video
      =yield :youtube_video
    =yield :landing_pitch
  #landing-form
    =yield :landing_form
