-content_for :title do
  iCoddle

-content_for :style_overrides do
  \#header-links {display: none}
  \#header-login {display: none}
  \#tabs {display: none}

%h1 New landing page
%p Find me in app/views/home/landing.html.haml
%p Coming soon. For now, just testing that I can push changes back to you.
