.pet-create {
  a {
	  font: bold 14px Arial;
		text-decoration: none;
  }
  padding: 5x;
  margin: 10px;
}

.pet-profile {
  a {
    font: bold 14px Arial;
    text-decoration: none;
  }
  padding: 5px;
  margin: 10px;
}